#Header{
    background-color: $primary-color;
    .logo{
        width: 152px;
    }
    .details{
        color:  white;
    }

    .phone-numbers{
        color: white !important;
        width: 300px !important;
        display: inline-block;
        border: 2px solid white;
        height: 34px;
        padding: 0px;




        .v-select{
            &__slot{
                .v-label{
                    font-size: $text-sub ;
                }
            }
            &__selection{
                color: white !important;
                font-size: $text-sub ;
            }
        }
        .v-input__control{
            min-height: 25px;
        }
        .v-input__slot{
            min-height: 25px;
        }
        .v-label{
            color: white !important;
        }
        .v-icon{
            color:  white !important;
        }
    }
    a{
      text-decoration: none !important;
    }
    .social{
        font-size: $text-semi-title1;
        color: white;
        cursor: pointer;
    }

    .links{
        color: white;
        font-size: $text-normal;

    }

   .menuMobile{
      background-color: $primary-color !important;
      .menu-list{
         padding: 0;
         list-style: none;
      }

      .strong{
         font-family: $font-family !important;
         font-weight: 700;
         font-size: $text-semi-title1;
      }
      .slim{
         font-size: $text-sub;
      }
   }

}

.listSub{
   background-color: $secondary-color !important;
   a{
      color:  white;
      text-decoration: none;
   }
}
#categoriesMenu{
   background-color: $secondary-color !important;

   .sub2{
         color: white;
         text-decoration: none;
         border-right: 1px solid $primary-color !important;
         &:last-child{
            border: none !important;
         }
   }

   .option{



      .sub_menu{
         text-transform: capitalize;
         color: white !important;
         opacity: 1;
         font-size: $text-normal;
         .v-btn__content{
            transition:  none !important;
            color: white !important;
         }
      }
      border-right: 1px solid $primary-color !important;
      &:last-child{
         border: none !important;
      }

   }

}
