#Header{
    background-color: $primary-color;
    .logo{
        width: 152px;
    }
    .details{
        color:  white;
    }

    .phone-numbers{
        color: white !important;
        width: 300px !important;
        display: inline-block;
        border: 2px solid white;
        height: 34px;
        padding: 0px;




        .v-select{
            &__slot{
                .v-label{
                    font-size: $text-sub ;
                }
            }
            &__selection{
                color: white !important;
                font-size: $text-sub ;
            }
        }
        .v-input__control{
            min-height: 25px;
        }
        .v-input__slot{
            min-height: 25px;
        }
        .v-label{
            color: white !important;
        }
        .v-icon{
            color:  white !important;
        }
    }
    a{
      text-decoration: none !important;
    }
    .social{
        font-size: $text-semi-title1;
        color: white;
        cursor: pointer;
    }

    .links{
        color: white;
        font-size: $text-normal;

    }

   .menuMobile{
      background-color: $primary-color !important;
      .menu-list{
         padding: 0;
         list-style: none;
      }

      .strong{
         font-family: $font-family !important;
         font-weight: 700;
         font-size: $text-semi-title1;
      }
      .slim{
         font-size: $text-sub;
      }
   }

}

.listSub{
   background-color: $secondary-color !important;
   a{
      color:  white !important;
      text-decoration: none !important;
   }
}
#categoriesMenu{
   background-color: $secondary-color !important;

   .sub2{
         color: white !important;
         text-decoration: none !important;
         border-right: 1px solid $primary-color !important;
         font-size: 0.95rem !important;
            line-height: auto;
            letter-spacing: 0;
         &:last-child{
            border: none !important;
         }
   }

   .option{



      .sub_menu{
         text-transform: capitalize;
         color: white !important;
         opacity: 1;
         font-size: 0.95rem !important;
            line-height: auto;
            letter-spacing: 0;
         .v-btn__content{
            transition:  none !important;
            color: white !important;
            font-size: 0.95rem !important;
            line-height: auto;
            letter-spacing: 0;
         }
      }
      border-right: 1px solid $primary-color !important;
      &:last-child{
         border: none !important;
      }

   }

}


@media #{map-get($display-breakpoints, 'md-and-down')}{
   #Header{
      background-color: $primary-color;
      .logo{
          width: 100px;
      }


      a{
        text-decoration: none !important;
        color: white;
      }
      .social{
          font-size: $text-title;
          color: white;
          cursor: pointer;
      }

      .links{
          color: white;
          font-size: $text-normal;

      }

     .menuMobile{
        background-color: $primary-color !important;
        .menu-list{
           padding: 0;
           list-style: none;
        }

        .strong{
           font-family: $font-family !important;
           font-weight: 700;
           font-size: $text-semi-title1;
        }
        .slim{
           font-size: $text-sub;
        }
     }

  }
  .sub2{
      color: white !important;
      text-decoration: none !important;
      border-right: 1px solid $primary-color !important;
      font-size: $text-normal;

   }
  .listSub{
     background-color: $primary-color !important;

     a{
        color:  white !important;
        text-decoration: none !important;
     }
     .sub2{
      font-size: $text-sub;
     }
     .v-list-item{
      min-height: 25px !important;
     }
  }




     .option{



        .sub_menu{
           text-transform: capitalize;
           color: white !important;
           opacity: 1;
           font-size: $text-normal;
           .v-btn__content{
              transition:  none !important;
              color: white !important;
           }
        }


     }


}

