/*.search_engine{

  background-color: $primary-color;
}*/


.icons-text{
   font-size: $text-semi-title2;
}

.all-toursHome{
   font-size: 1.75rem !important;
   color: $primary-color !important;
   text-decoration: none;
   cursor: pointer;

}
