#search-engine-content{

   /*
   .title{
      font-size: $text-semi-title1!important;
      color: $secondary-color !important;
   }
   */

   .v-expansion-panel-header{
      span{
         font-size: $text-semi-title1!important;
         color: $secondary-color !important;
         font-weight: bold;
      }

      &--active{
         background: $secondary-color;
         span{
            font-size: $text-semi-title1!important;
            color: white !important;
         }
      }
   }
  .input-color{
      color: $input-text-color !important;
      border:  1px solid $input-text-color !important;

  }
  .v-input__prepend-outer{
      background-color: white;
      margin:  0 !important;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      color: $primary-color !important;

  }

  .button-pax{
    background-color: white !important;

    color: darken($input-text-color, 50%) !important;
    text-transform: capitalize !important;
  }

  .bookBtn{
     background-color: $primary-color !important;
     color: white;
     font-weight: bold;
     font-size: $text-semi-title2;
  }

}
