// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;



@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800&display=swap');

$font-family: 'Mulish', sans-serif;
$title-font: 'Mulish', sans-serif;


$primary-color: #1A2D4E;
$secondary-color:#E1AC66;
$back-maya-ruins: #E6CDAC;
$back-aquatic-tours: #519488;
$back-luxury-tours: #256C94;
$back-adventure-tours: #946451;



